# =========================
# Python / virtualenv
# =========================
.venv/
venv/
ENV/
env/
poetry.lock

__pycache__/
*.py[cod]
*$py.class

# =========================
# Testing / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/
.coverage.*

# =========================
# Packaging / build
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# IDEs / editors
# =========================
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Data / cache
# =========================
.cache/
*.parquet

# =========================
# Logs

# =========================
# Execution files
orders.json
positions.json